.pagination {
  margin-left: auto;
  margin-bottom: 6vh;

  div {
    display: inline-flex;
    align-items: center;
  }

  button {
    background: none;
    border: none;
    display: inline-flex;
    height: 100%;

    p {
      font-size: 18px;
      padding: 0;
      margin: 0;
    }

    .icon {
      height: 100%;
    }
  }


  // selected btn page
  .numberPage:disabled {
    background-color: #828282;
    color: white;
  }

}