.cameraWrapper {
  height: fit-content;
  width: fit-content;
  margin: 10px;

  .cameraContainer {
    //height: auto;
    width: fit-content;
    max-width: 400px;
    margin: 0 auto;
  }

}

.qrReaderCameraContainer {
  margin-top: -50px;
}

@media (max-width: 460px) {
  .cameraWrapper {

    .cameraContainer {
      max-width: 300px;
    }
  }

}