@import '../../../././colors.scss';

.scanContainer {
  width: 400px;
  height: 400px;

  margin-bottom: 100px;


  p {
    font-size: 1.4em;

    span {
      color: $green-color;
    }
  }
}

.contentFullScreen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: $modal-background-color;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .icon {
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 26px;
    color: $text-color;

  }

  .icon:hover {
    color: $text-color;
  }

  h2, p {
    color: $bg-color;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .icon {
    left: 50%;
    transform: translateX(-50%);
  }
}

