$text-color: #000000;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

$primary-btn-color: #F2994A;
$primary-btn-color-active: #c05700;
$primary-btn-color-hover: #f1811c;
$primary-btn-color-disable: rgba(241, 129, 28, 0.5);

$form-sub-tile-color: #4F4F4F;
$grey-color: #D9D9D9;
$tips-bg-color: #E9F5EE;
$green-color: #219653;

$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;


// BUTTONS
.btn-primary {
  background: $primary-btn-color;
  border: 0;
}

.btn-primary:hover {
  background: $primary-btn-color-hover;
}

.btn-primary:not(:disabled):not(:disabled):active {
  background: $primary-btn-color-active;
}

.base-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 2.5em;

  .icon {
    width: auto;
    margin: 0 10px;
  }

  span {
    width: 130px;
  }
}

.buttons {
  display: inline-flex;

  button {
    width: 100%;
  }
}

ul {
  list-style-type: none;
}

// CARDS
.card-title-container {
  width: 100%;
  display: inline-flex;
  align-items: center;

  p {
    font-size: 1.6em;
  }

  button {
    max-width: fit-content;
    margin-left: auto;
  }
}

// MODAL WINDOWS
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: 100;

  background-color: rgba(0, 0, 0, 0.7);

  .content {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;

    padding: 3vh;

    background-color: white;

    border: 1px solid rgba(0, 0, 0, 0.22);
    box-sizing: border-box;
    box-shadow: 3px 4px 15px -1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    .header {
      flex-basis: 10%;

      font-size: 1.6em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .body {
      margin: 3vh 0;
    }

    .buttons {
      display: inline-flex;
      gap: 3vw;
    }
  }
}

.reader {
  height: 50vh;
  width: 50vw;
}

// todo change it
.main-container {

}

.content {
  margin-left: 300px;
  margin-right: 50px;

}

// pagination
.container-pagination {
  display: inline-flex;
  width: 100%;
}


// panel with table
.panel {
  width: auto;
  height: auto;

  margin: 5vh 0;
  padding: 20px;

  font-size: 1em;

  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);

  table {

    thead {
      background: #F2F2F2;
      font-weight: normal;

      td {
        padding: 20px;
      }
    }

    .checkbox-container {
      width: 60px;
      padding: 20px 0;
    }

    td {
      border: 1px solid #CCCCCC;
      padding: 10px;

      p {
        margin: 0;
        padding: 0;

        font-size: 0.9em;
      }
    }

    .buttons-container {
      display: flex;

      button {
        margin: 0 10px;
      }
    }

    .column-action {
      width: 100px;

      button {
        border: none;
        background: none;

        .icon {
          color: #828282;
        }
      }

      button:hover {
        .icon {
          color: black;
        }
      }
    }

    .empty-column {
      width: 50px;
    }
  }

  thead, tbody tr {
    display: table;
    width: 100%;

    table-layout: fixed;
  }

  tr, td {
    text-align: center;
  }

  .total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


    p {
      margin: 1vh 1vw;
      font-size: 1.2rem;
      color: #828282;

      span {
        color: black;
      }
    }

  }
}

.form {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin: 1vh 0;

  .form-group {
    margin: 2vh 0;
  }

  .select {
    display: flex;
    flex-direction: column;

    select {
      height: 40px;
      border-radius: 4px;
      border: 1px solid $green-color;
    }
  }
}
