@import '/code-bp-ui/src/colors';

.navBarContainer {
  width: calc(100vw - 300px - 6vw);
  margin-left: 240px;
  padding: 0 6vw;
  height: 64px;


  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $modal-box-shadow-color;

  color: $sub-text-color;
  font-weight: normal;

  span {
    font-weight: normal;
    font-size: 1.5rem;
  }

  .searchInput {
    display: inline-flex;
    align-items: center;

    input {
      width: 200px;
      margin-right: 12px;
    }

  }
}

.libraries {
  z-index: 6;

  display: flex;
  flex-direction: column;
  gap: 0;

  margin-top: 0;
  margin-left: 234px;

  position: absolute;
  padding: 5px;

  background: $bg-color;
  list-style-type: none;

  border: 1px solid $border-color;
  box-sizing: border-box;
  box-shadow: 3px 4px 15px -1px $modal-box-shadow-color;
  border-radius: 5px;

  cursor: default;

  li {
    border-bottom: 1px solid $li-border-color;
    padding: 10px;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    cursor: pointer;
    text-decoration: $sub-text-color;

    color: $green-color;
  }
}